html {
  font-family: 'Merriweather', serif;
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  width: 1024px;
  margin: 0 auto;
  background-color: #F2F1E8;
}

.site-header {
  width: inherit;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 4em;
  background-color: #FFFFFF;
  border-bottom: 2px solid #E4E2DD;
}

.site-navigation {
  width: 100%;
  color: #2B2F26;
  font-family: 'Roboto', sans-serif;
  text-decoration: underline;
  text-transform: uppercase;
  padding: .5em 2em;
}

.logo{
  width: 40px;
  height: auto;
  position: relative;
}

.first-product-row {
  padding: 0;
  display: flex;
  height: 300px;
  margin-bottom: 10px;
}

.first-product-row :not(:last-child){
  margin-right: 10px;
}

.second-product-row :not(:last-child){
  margin-right: 10px;
}

.second-product-row {
  padding: 0;
  display: flex;
  height: 200px;
}
.endless-possibilities {
  background-image: url("images/optimized/product-1.jpg");
  background-size: cover;
  width: 60%;
  position: relative;
}

.endless-possibilities p {
  background-color: #2b2f30;
  color: #F2F1E8;
  position: absolute;
  bottom: 0px;
  padding: 1em;
}

.sets {
  background-image: url("images/optimized/product-2.jpg");
  background-size: cover;
  width: 20%;
  position: relative;
}

.sets p {
  background-color: #2b2f30;
  color: #F2F1E8;
  position: absolute;
  bottom: 0px;
  padding: 1em;
}

.textures {
  background-image: url("images/optimized/product-3.jpg");
  background-size: cover;
  width: 20%;
  position: relative;
}

.textures p {
  background-color: #2b2f30;
  color: #F2F1E8;
  position: absolute;
  bottom: 0px;
  padding: 1em;
}

.tea-time {
  background-image: url("images/optimized/product-4.jpg");
  background-size: cover;
  width: 20%;
  position: relative;
}

.tea-time p {
  background-color: #2b2f30;
  color: #F2F1E8;
  position: absolute;
  bottom: 0px;
  padding: 1em;
}

.jars-and-containers {
  background-image: url("images/optimized/product-5.jpg");
  background-size: cover;
  width: 20%;
  position: relative;
}

.jars-and-containers p {
  background-color: #2b2f30;
  color: #F2F1E8;
  position: absolute;
  bottom: 0px;
  padding: 1em;
}

.wasabi-and-saki {
  background-image: url("images/optimized/product-6.jpg");
  background-size: cover;
  width: 40%;
  position: relative;
}

.wasabi-and-saki p {
  background-color: #2b2f30;
  color: #F2F1E8;
  position: absolute;
  bottom: 0px;
  padding: 1em;
}

.sippin-on-sunshine {
  background-image: url("images/optimized/product-7.jpg");
  background-size: cover;
  width: 20%;
  position: relative;
}

.sippin-on-sunshine p {
  background-color: #2b2f30;
  color: #F2F1E8;
  position: absolute;
  bottom: 0px;
  padding: 1em;
}
